html{
	min-height: 100%;
	position: relative;
}

body{
	margin: 0;
	padding: : 0;
}

.logo{
	height: 50px;
}

.user-navbar{
	margin-bottom: 0px;

}
.main-navbar{
	margin: 0;
	border-radius: 0px;
}

.enlace{
	font-style: none;
	color: #fff;
}

.precio {
	margin: 0px;
}
.muestras{
	padding: 10px;
}

footer{	
	position: absolute;  	
	padding: 20px;
	width: 100%;
	height: 120px;
	background-color: #101010;
	color: #fff;
}